* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body{
  background-color: blue;
}

.calculator-container{
  background-color: white;
  width: 500px;
  min-height: 100px;
  margin: 100px auto;
  border-radius: 5px;
  height: auto;
}

.calculator-form {
  padding: 3rem 1rem;
}

#title-div {
  text-align: center;
  margin-bottom: 2px;
}

.input-div{
  display: flex;
  justify-content: center;
}

.input {
  padding: 10px 0;
  width: 100px;
  margin-left: 20px;
}

.input-p{
  padding-bottom: 10px;
}

input[type=text]{
  width: 100px;
  margin: auto;
  border: 2px solid blue;
  padding: 10px;
  border-radius: 2px;
}

#button-div{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

#button{
  border: none;
  background-color: blue;
  border-radius: 3px;
  width: 100px;
  padding: 10px 0;
  color: white;
}